{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Request Header Parser API</h1>
    <p class="lead">This is a homepage for Request Header Parser project that can be found on freeCodeCamp</p>
    <hr class="my-4">
    <h3>API endpoints:</h3>
    <p>/api/whoami --> return client information: IP address, Language, User-Agent </p>
    <a class="btn btn-primary btn-lg" href="https://www.freecodecamp.org/learn/apis-and-microservices/apis-and-microservices-projects/request-header-parser-microservice" target="_blank" role="button">Project requirements</a>
  </div>
{% endblock content %}